<h3><%= @user.id %>: <%= @user.email %></h3>

<table class="table">

<tr>
	<td><Strong>Email</strong></td>
	<td><%= @user.email %></td>
	<td></td>
</tr>

<tr>
	<td><Strong>Created</strong></td>
	<td><%= @user.created_at %></td>
	<td></td>
</tr>

<tr>
	<td><Strong>Last Sign In</strong></td>
	<td><%= @user.last_sign_in_at %></td>
	<td><%= @user.last_sign_in_ip %></td>
 </tr>

<tr>
	<td><Strong>Sign In Count</strong></td>
	<td><%= @user.sign_in_count %></td>
	<td></td>
</tr>

<tr>
	<td><Strong>Games</strong></td>
	<td><%= @user.games.count %></td>
	<td><% @user.games.each do | g | %>
		<a href="<%= "/games/"+ g.id.to_s %>">G</a>
	<% end %></td>
</tr>

</tbody></table>