<script>
  function addColorPicker( id, attrib ){
    $(id).spectrum({
        color: attrib,
        showAlpha: true,
        showInput: true,
        showPalette: true,
        preferredFormat: "hex6",
        localStorageKey: "spectrum.gamegen",
        move: function(tinycolor){
          $(id).trigger('change');
        },
        hide: function(tinycolor){
          $(id).trigger('change');
        },
    });
  }
</script>

<!-- button toolbar-->
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-large btn-green disabled save-changes-btn" style="width:154px">Save Changes</button>
  </div>
  <button class="btn btn-blue btn-large pull-right" onclick="window.history.back();">Back to Deck</button>
</div>

<!-- line for fools-->
<div class="line"></div><br/>

<!-- divide into two columns-->
<div class="row-fluid">

  <!-- left column -->
  <div class="span6">

    <!-- title accordian -->

    <div class="accordion" id="accordion-title">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn" data-toggle="collapse" data-parent="#accordion-title" href="#accordion-title-body">Title</button>
        </div>
        <div id="accordion-title-body" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- title text input -->

            <input id="name-input" type="text" placeholder="Heading" value="<%= name %>"></input>

            <!-- title width -->

            <div class="slider-group"><p>Width</p>
              <div class="btn-group" data-toggle="buttons-radio">
                <% if( title_alignment == "left" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="title-align-left-btn" class="btn btn-green btn-mini<%= btnActive %>">Left</button>
                <% if( title_alignment == "center" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="title-align-center-btn" class="btn btn-green btn-mini<%= btnActive %>">Center</button>
                <% if( title_alignment == "right" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="title-align-right-btn" class="btn btn-green btn-mini<%= btnActive %>">Right</button>
              </div>
              <div class="text-bg-color-picker-parent"><input type='text' id="title-bg-color-picker"/></div>
              <script>addColorPicker( "#title-bg-color-picker", "<%= title_bg_color %>")</script>
              <input id="title-width-slider" class="slider-control" type="range" name="points" min="10" max="100" step="1" value="<%= title_width %>">
            </div>

            <!-- title top -->

            <div class="slider-group"><p>Position</p>
              <input id="title-top-margin-slider" class="slider-control" type="range" name="points" min="0" max="100" step="1" value="<%= title_top_margin %>">
            </div>

            <!-- title height -->

            <div class="slider-group"><p>Height</p>
              <input id="title-height-slider" class="slider-control" type="range" name="points" min="10" max="100" step="1" value="<%= title_height %>">
            </div>

            <!-- title border -->

            <div class="slider-group"><p>Border</p>
              <% if( title_border_outline ) { active=' active' } else { active = '' } %>
              <button id="title-border-btn" type="button" class="btn btn-mini btn-green<%= active %> text-border-btn" data-toggle="button">Border</button>
              <input id="title-border-radius-slider" class="slider-control" type="range" name="points" min="0" max="20" step="1" value="<%= title_border_radius %>">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- description accordian -->

    <div class="accordion" id="accordion-description">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn" data-toggle="collapse" data-parent="#accordion-description" href="#accordion-description-body">Description</button>
        </div>
        <div id="accordion-description-body" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- description text input -->

            <textarea id="description-input" type="text" placeholder="Description"><%= description %></textarea>

            <!-- description width -->

            <div class="slider-group"><p>Width</p>
              <div class="btn-group" data-toggle="buttons-radio">
                <% if( description_alignment == "left" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="description-align-left-btn" class="btn btn-green btn-mini<%= btnActive %>">Left</button>
                <% if( description_alignment == "center" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="description-align-center-btn" class="btn btn-green btn-mini<%= btnActive %>">Center</button>
                <% if( description_alignment == "right" ){ btnActive =' active' } else { btnActive = '' } %>
                <button id="description-align-right-btn" class="btn btn-green btn-mini<%= btnActive %>">Right</button>
              </div>
              <div class="text-bg-color-picker-parent"><input type='text' id="description-bg-color-picker"/></div>
              <script>addColorPicker( "#description-bg-color-picker", "<%= description_bg_color %>")</script>
              <input id="description-width-slider" class="slider-control" type="range" name="points" min="10" max="100" step="1" value="<%= description_width %>">
            </div>

            <!-- description top -->

            <div class="slider-group"><p>Position</p>
              <input id="description-bottom-slider" class="slider-control" type="range" name="points" min="0" max="100" step="1" value="<%= description_bottom %>">
            </div>

            <!-- description height -->

            <div class="slider-group"><p>Height</p>
              <input id="description-height-slider" class="slider-control" type="range" name="points" min="10" max="100" step="1" value="<%= description_height %>">
            </div>

            <!-- description border -->

            <div class="slider-group"><p>Border</p>
              <% if( description_border_outline ) { active=' active' } else { active = '' } %>
              <button id="description-border-btn" type="button" class="btn btn-mini btn-green<%= active %> text-border-btn" data-toggle="button">Border</button>
              <input id="description-border-radius-slider" class="slider-control" type="range" name="points" min="0" max="20" step="1" value="<%= description_border_radius %>">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- border accordian -->

    <div class="accordion" id="accordion-border">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn" data-toggle="collapse" data-parent="#accordion-border" href="#accordion-border-body">Border</button>
        </div>
        <div id="accordion-border-body" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- border stuff -->

            <div class="slider-group"><p>Border Width</p>
              <div class="border-color-picker-parent"><input type='text' id="border-color-picker"/></div>
              <input id="border-width-slider" class="border-control" type="range" name="points" min="0" max="40" step="1" value="<%= border_width %>">
               <script>addColorPicker( "#border-color-picker", "<%= border_color %>")</script>
            </div>

            <!-- toggle buttons -->

            <div class="bdr-toggle-btns">
              <div class="btn-group">
                <% if( border_visible ) { bv =' active'; db = ''; } else { bv = ''; db = ' disabled';} %>
                <button id="border-toggle-btn" class="btn btn-mini btn-green<%= bv %> bdr-btn" data-toggle="button">Border</button>
                <% if( border_outline ) { bo =' active'} else { bo = ''} %>
                <button id="outline-toggle-btn" class="btn btn-mini btn-green<%= bo %><%= db %> bdr-btn" data-toggle="button">Outline</button>
                <% if( border_inline ) { bi =' active'} else { bi = ''} %>
                <button id="inline-toggle-btn" class="btn btn-mini btn-green<%= bi %><%= db %> bdr-btn" data-toggle="button">Inline</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- background accordian -->

    <div class="accordion" id="accordion-background">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn" data-toggle="collapse" data-parent="#accordion-background" href="#accordion-bg-body">Background</button>
        </div>
        <div id="accordion-bg-body" class="accordion-body collapse in">
          <div class="accordion-inner">

            <div class="slider-group"><p class="bg-color-p">Background Color</p>
              <div class="bg-color-picker-parent"><input type='text' id="bg-color-picker"/></div>
              <script>addColorPicker( "#bg-color-picker", "<%= background_color %>")</script>
                <% if( background_visible ) { bv =' active'; db = ''; } else { bv = ''; db = ' disabled';} %>
                <button id="bg-toggle-btn" class="btn btn-mini btn-green<%= bv %> bdr-btn" data-toggle="button">Hide Background Image</button>
            </div>

            <!-- background images view -->
            <div id="backgrounds-view-parent"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- right column -->
  <div class="span6">

    <!-- card carousel view -->
    <div id="card-carousels-parent"></div>

  </div>

</div>
