  <!-- button toolbar-->
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-large btn-success disabled save-changes-btn" style="width:154px">Save Changes</button>
  </div>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<!-- line for fools-->
<div class="line"></div><br/>

<!-- divide into two columns-->
<div class="row-fluid">

  <!-- left column -->
  <div class="span6">

    <!-- artworks accordian
    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Image</button>
        </div>
        <div id="collapseOne" class="accordion-body collapse out">
          <div class="accordion-inner">

            <div id="artworks-view-parent"></div>

          </div>
        </div>
      </div>
    </div>-->

    <!-- edit text accordian -->
    <div class="accordion" id="accordion-text">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn" data-toggle="collapse" data-parent="#accordion-text" href="#collapseTwo">Text</button>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="card-edit-view-parent">


            <div class="title-align-btns">
              <div class="slider-label">Width:
                <input id="title-width-slider" class="border-control slider" type="range" name="points" min="10" max="100" step="1" value="<%= title_width %>">
                <div class="btn-group" data-toggle="buttons-radio">
                  <% if( title_alignment == "left" ){ bv =' active'} else {bv = ''} %>
                  <button id="title-align-left-btn" class="btn btn-success btn-small<%= bv %>">Left</button>

                  <% if( title_alignment == "center" ){ bv =' active'} else {bv = ''} %>
                  <button id="title-align-center-btn" class="btn btn-small btn-success<%= bv %>">Center</button>

                  <% if( title_alignment == "right" ){ bv =' active'} else {bv = ''} %>
                  <button id="title-align-right-btn" class="btn btn-success btn-small<%= bv %>">Right</button>

                </div>
              </div>
            </div>


            <div class="slider-label">Top:
              <input id="title-top-margin-slider" class="border-control slider" type="range" name="points" min="0" max="100" step="1" value="<%= title_top_margin %>">
            </div>

            <div class="slider-label">Height:
              <input id="title-height-slider" class="border-control slider" type="range" name="points" min="10" max="100" step="1" value="<%= title_height %>">
            </div>

<!--


                  :title_width, :title_horz_margin, :title_top_margin,
                  :title_height, :title_border_outline, :title_visible, :title_bg_color,
                  :title_border_radius,
 -->







              <!-- text-inputs -->
              <!-- <input id="name-input" type="text" placeholder="Heading" value="<%= name %>"></input>
              <input id="misc-input" type="text" placeholder="Misc" ></input>
              <textarea id="description-input" type="text" placeholder="Description"><%= description %></textarea>
 -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- border accordian -->
    <div class="accordion" id="accordion-border">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button class="btn" data-toggle="collapse" data-parent="#accordion-border" href="#collapse-accordion-border">Border</button>
        </div>
        <div id="collapse-accordion-border" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- toggle buttons -->
            <div class="bdr-toggle-btns">
              <div class="btn-group">
                <% if( border_visible ) { bv =' active'; db = ''; } else { bv = ''; db = ' disabled';} %>
                <button id="border-toggle-btn" class="btn btn-success<%= bv %> bdr-btn" data-toggle="button">Border</button>
                <% if( border_outline ) { bo =' active'} else { bo = ''} %>
                <button id="outline-toggle-btn" class="btn btn-success<%= bo %><%= db %> bdr-btn" data-toggle="button">Outline</button>
                <% if( border_inline ) { bi =' active'} else { bi = ''} %>
                <button id="inline-toggle-btn" class="btn btn-success<%= bi %><%= db %> bdr-btn" data-toggle="button">Inline</button>
              </div>
            </div>

            <!-- border width  -->
            <div id="border-width">
              Border Width:
              <input id="border-width-slider" class="border-control" type="range" name="points" min="0" max="40" step="1" value="<%= border_width %>">
            </div>

            <!-- border color -->
            <div id="border-color">
              Border Color:
              <input type='text' id="border-color-picker" />
              <script>
                $("#border-color-picker").spectrum({
                    color: "<%= border_color %>",
                    showAlpha: true,
                    showInput: true,
                    showPalette: true,
                    preferredFormat: "hex6",
                    //showSelectionPalette: true,
                    //localStorageKey: "spectrum.gamegen",
                    move: function(tinycolor)
                    {
                      $("#border-color-picker").trigger('change');
                    },

                    hide: function(tinycolor)
                    {
                      $("#border-color-picker").trigger('change');
                    },

                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- background accordian -->
    <div class="accordion" id="accordion-background">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button class="btn" data-toggle="collapse" data-parent="#accordion-background" href="#collapseFour">Background</button>
        </div>
        <div id="collapseFour" class="accordion-body collapse in">
          <div class="accordion-inner">

            <!-- background images view -->
            <div id="backgrounds-view-parent"></div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- right column -->
  <div class="span6">

    <!-- card carousel view -->
    <div id="card-carousels-parent"></div>

  </div>

</div>
