<div class="hero-holder"></div>

<div class="btn-toolbar">
  <button id="save-changes-btn" class="btn btn-large disabled">Save Changes</button>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<div class="line"></div><br/>

<div class="row-fluid">

  <div class="span6">

    <div class="accordion" id="accordion1">
      <div class="accordion-group">
        <div class="accordion-heading">
          <button id="none" class="btn btn-wide " data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">Image</button>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="images-holder"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
           <button id="none" class="btn btn-wide " data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Text</button>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="card-edit-holder">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="card-holder">
      <div class="card-view-base style-1 card-view-shadow"></div>
    </div>
  </div>
</div>

<script type="text/javascript">

  window.App = window.App || {};
  window.App.data = window.App.data || {};

  App.data.card_id = <%= @card.id %>;
  App.data.card_image_id = <%= @card.image_id %>;

  function enableSaveButton(){
    $("#save-changes-btn").addClass("btn-success");
    $("#save-changes-btn").removeClass("disabled");
  }

  function disableSaveButton(){
    $("#save-changes-btn").removeClass("btn-success");
    $("#save-changes-btn").addClass("disabled");
  }

  $(function(){
    //getCardHero('.hero-holder', <%= @card.to_json.to_s.html_safe %>);
    getCardEdit('.card-edit-holder', <%= @card.to_json.to_s.html_safe %>);
    getImages('.images-holder', <%= @images.to_json.to_s.html_safe %>);

    $(".image-style-btn").bind("click", function(){
      enableSaveButton();
    });

    // looses binding on bb save charly
    $("#name-input").bind('keyup cut paste', function(event){
      enableSaveButton();
    });

    $("#description-input").bind('keyup cut paste', function(event){
      enableSaveButton();
    });
  });

  $("#save-changes-btn").bind("click", function(){
    if(!$("#save-changes-btn").hasClass("disabled")){
      window.cardEditView.saveChanges();
      disableSaveButton();
    }
  });



</script>
