
<div class="navbar-fixed-bottom">
<div id="tags-scroller"></div>
<div id="images-scroller"> </div>
</div>
<script type="text/javascript">
 
  $(function()
  {
    addImagesView("#images-scroller",<%= @images.to_json.to_s.html_safe %>,{multiple:false} );

    addTagsView("#tags-scroller",<%= @tags.to_json.to_s.html_safe %>,{multiple:false} );

    // $('#images-scroller').appendTo('body');

//<!-- all card edit stuff-->
//<//div class="card-edit-view-parent"></div>
    // addCardEditView('.card-edit-view-parent',
    //                 <%= @card.id %>,
    //                 <%= @backgrounds.to_json.to_s.html_safe %>,
    //                 <%= @images.to_json.to_s.html_safe %>,
    //                 <%= @cards.to_json.to_s.html_safe %>);
  });

</script>
