<div class="hero-holder"></div>

<div class="btn-toolbar ">
  <button id="add-card-btn" class="btn btn-large btn-blue">Add a New Card</button>
  <button id="change-style-btn" class="btn btn-large  btn-blue" data-toggle="collapse" data-target="#card-style-carosel-parent">Change Card Style</button>
  <button class="btn btn-large pull-right" onclick="window.history.back();">Back</button>
</div>

<div class="styles-holder"></div>

<div class="cards-holder">
<div class="line"></div>
<br>
</div>

<script type="text/javascript">

  App.data.deck_id = <%= @deck.id %>;

  $(function(){


   getDeckHero('.hero-holder', <%= @deck.to_json.to_s.html_safe %>);
    getStyles('.styles-holder', <%= @styles.to_json.to_s.html_safe %>,
                                  <%= @cards.first.to_json.to_s.html_safe %>  ,
                                  <%= @defaultCard.to_json.to_s.html_safe %> );
     addCardsView('.cards-holder', <%= @cards.to_json.to_s.html_safe %>,true,true);
  });

  $("#add-card-btn").bind("click", function(){
    window.App.views.cardsView.newCard();
  });

</script>
