<!DOCTYPE html>
<html lang="en">
<head>
  <title>Deck Geek - Design and print your own card games!</title>
  <% if Rails.env.production? %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
    <%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js" %>
    <%= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap.min.css", :media => "all" %>
  <% else %>
    <%= javascript_include_tag "jquery-1.10.2" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <% end %>
   
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <!-- google tracking -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-44741212-1', 'deckgeek.com');
  ga('send', 'pageview');
  </script>

</head>
<body>

<% if get_current_or_guest_user %>
<div class="navbar navbar-fixed-top ">
      <ul class="nav">
    <% if user_signed_in? %>
      <li><%= gravatar_for(get_current_or_guest_user.email, size:30, class: 'avatar-small', alt: 'avatar') %></li>
      <li><a id="card-genisis" class="brand" href="/">DECK GEEK</a></li>
      <li><%= link_to "#{get_current_or_guest_user.email}", edit_user_registration_path,  {:id => "user-email"} %></li>
    </ul>


    <% if get_current_user %> 
    <a href="#myModal" role="button" id="suck-btn" class="btn btn-mini btn-blue" data-toggle="modal">Do I suck?</a>
    <% end %>
    
    <ul class="nav pull-right">
     <% if get_current_or_guest_user.try(:admin?) %>
          <li><a id="admin" href="/admin">Admin</a></li>
       <% end %>
      <li><%= link_to "Sign Out", destroy_user_session_path, {:id => "sign-out"} %></li>
    </ul>
    <% else %>
      <% if params[:controller]!="devise/registrations" || %>
      <% controller_name=="devise/registrations" && action_name!="new" %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
      <% if params[:controller]!="devise/sessions" || %>
      <% controller_name=="devise/sessions" && action_name!="new" %>
      <ul class="nav pull-right">
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
      <% end %>
    <% end %> 
</div>
<% end %>

<div id="main-container" class="container">

  

  <% if alert %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>

</div>

<% if get_current_user %> 
  <!-- feedback form -->
  <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>I need feedback!</h3>
    </div>
    
    <%= form_for("feedback", :url => feedbacks_path,   :html => {:class => "feedback-form"}) do |f| %>
   
      <div class="modal-body">
      
        <fieldset>
          <div class="control-group">
            <label class="control-label">Subject</label>
            <div class="controls">
              <%= f.text_field :subject, :placeholder => 'Subject (optional)', :id => 'sub'  %>
            </div>
          </div>
         
          <div class="control-group">
            <label class="control-label">What do you want to say?</label>
            <div class="controls">
              <%= f.text_field :body, :placeholder => 'Tell me I am great or tell me I suck', :id => 'bdy'  %>
            </div>
          </div>
        </fieldset>
      
      </div>
      
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <%= f.submit "Send Feedback!", :class => "btn btn-green"  %>
      </div>
      
    <% end %>
  </div>
  <!-- end feedback form -->
<% end %>

<% if Rails.env.production? %>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=9431797; 
var sc_invisible=1; 
var sc_security="4c3d866c"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="free web stats"
href="http://statcounter.com/" target="_blank"><img
class="statcounter"
src="http://c.statcounter.com/9431797/0/4c3d866c/1/"
alt="free web stats"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
<% end %>

</body>
</html>
